*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    height:100%;
}
body{
    height:100%;
}
.container{
    display:grid;
    grid-template-columns: 250px 1fr 
    300px;
    height:100%;
    overflow:hidden;
}
/*menu design*/
#menu{
    background: #76D7C4; 
}
.brand-logo{
    padding:0 30px;
}
.brand-logo img{
    width:150px;
    height:150px;
    margin-top: -20px;
}
.menu-item a{
    display:block;
    text-decoration:none;
    font-size:20px;
    padding:8px 30px;
    margin:12px 0;
    color:rgb(128,129,129);
    font-weight:300;
}
.menu-item a:hover{
    background:rgb(217, 136, 128)
}

#food-container{
    background: whitesmoke;
    overflow:scroll;
    overflow-x:hidden;
    box-sizing:content-box; 
}
#header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:40px;
    padding-bottom:10px;
    position:sticky;
    top:0;
    background:#EAFAF1 ;
}
.item-menu{;
    z-index:1;
}
::-webkit-scrollbar{
    display:none;
}
#header .address{
    font-size:20px;
}
.your-address{
    border:1px solid indianred;
    color:indianred;
    padding:5px 10px;
    border-radius:5px;
    width:150px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:elipses;
    cursor:pointer;
    text-transform: capitalize;
}
.add-box i{
    font-size:20px;
}
.util i,.user i{
    font-size:18px;
    margin:0 16px;
    border:1px solid crimson;
    padding:8px 16px;
    color:crimson;
    border-radius:20px;
    cursor:pointer;
}
.util i:active,.user i:active{
    color:white;
    background:crimson;
}
.food-items{
    display:none;
}
#chinese,#italian,#south-indian,#north-indian,#beverages,#desserts,#miscellaneous{
    margin-top:40px;
}

#italian #item-card,#north-indian #item-card,#desserts #item-card{
    background:rgb(215, 189, 226);
}

#category-name,#item-menu{
    margin:10px;
    font-size:35px;
    color:#BA4A00 ;
}
#item-card{
    width:270px;
    height:250px;
    padding:15px;
    margin:15px;
    display:inline-block;
    border-radius:5px;
    background:rgb(169, 204, 227 );
    cursor:pointer;
    transition:0.5s all ease-in-out;
}
#card-top{
    display:flex;
    margin:5px 0;
    justify-content:space-between;
}
#rating{
    padding:7px;
    color:goldenrod;
    background:black;
    font-size:14px;
    border-radius:14px;
}
.fa-heart-o{
    padding:6px;
    background:white;
    cursor:pointer;
    border-radius:50%;
}
.toggle-heart{
    background:red;
    color:white;
}
#item-card img{
    width:100px;
    height:100px;
    border-radius:50%;
    margin:auto;
    display:block;
    margin-bottom:15px;
    transition:0.5s  all ease-in-out;
}
#item-card:hover img{
    transform:scale(1.2);
}
#item-name{
    margin:5px 0;
    font-weight:600;
    color:darkslategray;
    font-size:18px;
}
#item-price{
    margin:0;
    color:rgb(2,27,27);
    font-weight:500;
    font-size:18px;
}

#cart{
    background:#76D7C4;
    padding-right:30px;
    overflow-y:scroll;
}
.taste-header{
    padding-top:40px;
    padding-bottom:10px;
    position:sticky;
    top:0;
    background:#EAFAF1 ;
}
.item-menu{
    margin:0;
    font-size:30px;
    margin-top:40px;
    color:indianred;
    background:#76D7C4;

}
.border{
    width:80px;
    height:4px;
    margin:3px 0;
    margin-bottom:30px;
    border-radius:2px;
    background:coral;
    font-size:10px;
}
.list-card{
    display:flex;
    align-items:center;
    margin-top:15px;
    border-radius:2px;
    cursor:pointer;
    transition:0.3s all ease-in-out;
}
.list-card:hover{
    background:rgb(230, 176, 170);
}
.list-card:hover img{
    transition:0.5s all ease-in-out;
    transform:scale(1.2);
}
.list-card img{
    width:60px;
    height:60px;
    border-radius:50%;
}
.list-names{
    font-size:20px;
    margin:0 10px;
    text-decoration:none;
    text-transform:capitalize;
    color:rgb(94,43,43);
}
.cart-toggle{
    display:none;
}
.cart-page{
    background:white;
    padding:40px 10px;
    margin-right:50px;
    padding:20px 30px;
    padding-bottom:30px;
    position:relative;
}
#cart-title{
    font-size:35px;
    margin:0;
    color:indianred;
}
#cart-page table{
    width:100%;
    margin-top:20px;
    text-align:center;
}
#cart-page table thead td{
    font-size:25px;
    padding-bottom:10px;
}
#cart-page table tbody td{
    padding:10px 0;
    font-size:20px;
}
#cart-page table tbody button{
    outline:none;
    border:none;
    background:none;
    font-size:16px;
    background:lightcoral;
    color:white;
    border-radius:3px;
    cursor:pointer;
    margin:0 5px;
    padding:3px 8px;
}
#cart-page table tbody img{
    width:75px;
    height:75px;
    border-radius:50px;
}
#checkout{
    text-align:center;
    margin:40px auto;
    border-radius:5px;
    background:white;
    padding:10px 20px;
}
#checkout p{
    margin:15px 0;
    float:right;
}
#total-price,#total-items{
    font-size:25px;
    color:indianred;
}
.cart-btn{
    outline:none;
    border:none;
    background:crimson;
    color:white;
    padding:10px 25px;
    border-radius:20px;
    font-size:18px;
    text-transform:uppercase;
    bottom:30px;
    margin:15px 0;
    cursor:pointer;
}
.cart-btn:active{
    color:crimson;
    background:none;
    border:1px solid crimson;
}

.account{
    font-size:15px;
    margin:0 14px;
    border:none;
    padding:6px 14px;
    color:crimson;
    border-radius:15px;
    cursor:pointer;
}
.account:active{
    color:white;
    background:crimson;
}
#delivery{
    font-size:17px;
    color:limegreen;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .container{
     /* Set a style for all buttons */
  button {
    background-color: white;
    color: crimson;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid crimson;
    cursor: pointer;
    width: 100%;
  }
  button[type=submit], button[type=cancel]{
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid crimson;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: green;
  }  
  }
 
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }